#tab-buttons {
    border: 1px solid #cccccc;
    background-color: #eeeeee;
}

.tab-button {
    background-color: inherit;
    border: 1px solid #cccccc;
    cursor: pointer;
    padding: 15px;
}

.tab-button:hover {
    background-color: #dddddd;
}

.tab-button.active {
    background-color: #ffffff;
}

.tab-content {
    display: none;
    padding: 10px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ccc;
}

.tab-content.active {
    display: block;
} 