.tab-container {
    height: 93vh;
}

#tab-buttons {
    border: 1px solid #cccccc;
    background-color: #eeeeee;
}

.tab-button {
    background-color: inherit;
    padding: 15px;
}

.tab-button.active {
    background-color: #ffffff;
}

.button-base {
    border: 1px solid #cccccc;
    background-color: #eeeeee;
    cursor: pointer;
}

.button-base:hover {
    background-color: #dddddd;
}

.tab-content {
    display: none;
    height: 100%;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #cccccc;
}

.tab-content.active {
    display: block;
} 

.sidebar-content {
    border-width: 0px 2px 0px 0px;
    border-style: solid;
    border-color: #cccccc;
    height: inherit;
    width: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}    

.sidebar-content.active {
    width: 200px;
}

.sidebar-group {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    margin: 5px;
    padding: 5px;
}

.sidebar-group-header {
    display: flex;
}

.sidebar-group-header-add {
    margin-left: auto;
}

.sidebar-group-list-item {
    background-color: #dddddd;
    border: 1px solid #aaaaaa;
    padding: 5px;
    margin: 5px 0px 0px 0px;
}

.sidebar-group-list-item-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 30px;
}

.sidebar-group-list-item-container label {
    grid-column: 1;
}

.sidebar-group-list-item-container input {
    grid-column: 1;
    margin-right: 5px;
}

.sidebar-group-list-item-delete {
    grid-column: 2;
    grid-row: 1;
}

.sidebar-group-list-item-label {
    grid-column: 2;
    grid-row: 2 / 7;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999999;
    margin: 3px 0px 0px 0px;
}

.main-content {
    transition: 0.5s;
}

.main-content.sidebar-active {
    margin-left: 201px;
}

.toggle-sidebar-button {
    cursor: pointer;
    padding: 5px;
    margin-top: 20px;
}        